@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  .animate-spin-360 {
    animation: spin 300ms ease-in-out 1;
  }
  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .animate-ping-1 {
    animation: ping 50ms cubic-bezier(0, 0, 0.2, 1) 1;
  }

  .animate-ping-h1 {
    animation: ping-little 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes ping-little {
    75%,
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
